.cardP {
  width: 40%;
  display: flex;
  flex-flow: column;
  margin: 10px;
  padding: 15px;
  height: 40%;
  color: white;
  background-color: rgba(76, 74, 74, 0.175);
  border-radius: 5px;
  box-shadow: -1px 10px 36px 21px rgba(0, 0, 0, 0.48);
}

.cardP:hover {
  box-shadow: -1px 10px 36px 21px rgba(0, 0, 0, 0.48);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.data {
  text-align: end;
}

.fotoIntro {
  display: flex;
}

.fotoimg {
  padding: 10px;
  width: 25vw;
  height: 50%;
  border-radius: 5px;
  box-shadow: -1px 10px 300px 10px rgba(0, 0, 0, 0.48);
}

.links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.noti {
  font-style: normal;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  background-color: rgb(60, 54, 237);
  box-shadow: 2px 37px 34px -4px rgba(23, 23, 23, 0.24);
  padding: 0;
  width: 10vw;
  font-size: 1.5rem;
}

.noti:hover {
  font-size: 1.7rem;
}

.imIn {
  margin-bottom: 10px;
  font-size: 1.1rem;
  padding: 10px;
}

.titulo {
  font-size: 1.5rem;
  margin: 15px;
}

.imgFav {
  width: 2.1rem;
}

.imgFav:hover {
  width: 2.5rem;
}

@media (max-width: 768px) {
    .cardP {
      width: 100%;
    }

    .noti {
    display: flex;
    flex-flow: column;
    width: 35vw;
    font-size: 1.4rem;
    height: 40px;
  }

    .fotoIntro {
      display: flex;
      flex-flow: column;
    }

    .imIn {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    .titulo {
      font-size: 2rem;
    }

    .fotoimg {
      width: 95%;
    }

    .imgFav {
      width: 2rem;
    }
}