header {
  background-color: #0066FF;
  border-radius: 15px;
  color: white; 
  padding: 10px; 
  margin: 10px;
  box-shadow: 4px 31px 58px -9px rgba(0, 0, 0, 0.48);
}

.nav {
  display: flex; 
  width: 100%; 
}

.nav a {
  width: 100%;
}

a {
  text-decoration: none;
  color: white; 
  padding: 5px 10px; 
  transition: color 0.3s; 
  font-size: 2rem;
  border-radius: 20px;
  width: 15%;
  text-align: center;
}

.nav a:hover {
  box-shadow: -1px 10px 36px 21px rgba(0, 0, 0, 0.48);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  a {
  text-decoration: none;
  color: white; 
  padding: 5px 10px; 
  transition: color 0.3s; 
  font-size: 1.6rem;
}
}