* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: url('./imgs/wave-haikei.svg') no-repeat center center fixed;
  background-size: cover;
}


h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}