* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: url('./imgs/wave-haikei.svg') no-repeat center center fixed;
  background-size: cover;
}


h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Oswald', sans-serif;
}

a {
  font-family: 'Oswald', sans-serif;
}

button {
  font-family: 'Oswald', sans-serif;
}


@media (max-width: 768px) {
  body {
    width: 100%;
    background: url('./imgs/wave-haikei1.svg') no-repeat center center fixed;
    background-size: cover;
  }
}